
Importing the required libraries

In [1]:
import math
import pandas as pd
import numpy as np

From previous question, updating the variable Z

In [2]:
Z_t_1 = 1.108875 # Z_1, Z_2, Z_3, Z_4 at temperature 5000 K
Z_t_2 = 1.456335 # Z_1, Z_2, Z_3, Z_4 at temperature 10000 K
Z_t_3 = 2.271550 #Z_1, Z_2, Z_3, Z_4 at temperature 20000 K

In [7]:

K = 8.617333262*(math.pow(10, -5)) # defining the boltzman constant in ev
K

8.617333262000001e-05

In [5]:
s=[5000, 10000, 20000]
g= pd.DataFrame(data = s)
g.columns= ["T"]
g

       T
0   5000
1  10000
2  20000

For s = 1, N1/NI

In [6]:
g["N1/NI"]= [1/Z_t_1, 1/Z_t_2, 1/Z_t_3]
g

       T     N1/NI
0   5000  0.901815
1  10000  0.686655
2  20000  0.440228

For s= 2, N2/ NI

In [10]:
g["N2/NI"]= g["N1/NI"]*(np.exp(-1/(K*g["T"])))

In [11]:
g

       T     N1/NI     N2/NI
0   5000  0.901815  0.088545
1  10000  0.686655  0.215160
2  20000  0.440228  0.246427

For s = 3, N3/ NI

In [12]:
g["N3/NI"]= g["N1/NI"]*(np.exp(-2/(K*g["T"])))
g

       T     N1/NI     N2/NI     N3/NI
0   5000  0.901815  0.088545  0.008694
1  10000  0.686655  0.215160  0.067419
2  20000  0.440228  0.246427  0.137943

In [13]:
g["N4/NI"]= g["N1/NI"]*(np.exp(-3/(K*g["T"])))
g["N5/NI"]= g["N1/NI"]*(np.exp(-4/(K*g["T"])))
g["N6/NI"]= g["N1/NI"]*(np.exp(-5/(K*g["T"])))
g["N7/NI"]= g["N1/NI"]*(np.exp(-6/(K*g["T"])))
g["N10/NI"]= g["N1/NI"]*(np.exp(-9/(K*g["T"])))
g["N15/NI"]= g["N1/NI"]*(np.exp(-14/(K*g["T"])))

In [14]:
g

,T,N1/NI,N2/NI,N3/NI,N4/NI,N5/NI,N6/NI,N7/NI,N10/NI,N15/NI
0,5000,0.901815,0.088545,0.008694,0.000854,0.000084,0.000008,8.079483e-07,7.647450e-10,6.978121e-15
1,10000,0.686655,0.215160,0.067419,0.021125,0.006620,0.002074,6.499378e-04,1.999578e-05,6.040171e-08
2,20000,0.440228,0.246427,0.137943,0.077217,0.043224,0.024195,1.354392e-02,2.375623e-03,1.305669e-04

In [16]:
gn=g.transpose()
gn

                   0             1             2
T       5.000000e+03  1.000000e+04  20000.000000
N1/NI   9.018149e-01  6.866552e-01      0.440228
N2/NI   8.854454e-02  2.151597e-01      0.246427
N3/NI   8.693730e-03  6.741912e-02      0.137943
N4/NI   8.535923e-04  2.112542e-02      0.077217
N5/NI   8.380981e-05  6.619534e-03      0.043224
N6/NI   8.228851e-06  2.074195e-03      0.024195
N7/NI   8.079483e-07  6.499378e-04      0.013544
N10/NI  7.647450e-10  1.999578e-05      0.002376
N15/NI  6.978121e-15  6.040171e-08      0.000131

In [17]:
gn.columns = ["T= 5000K", "T= 10,000K", "T= 20,000K"]
gn.head()

          T= 5000K    T= 10,000K    T= 20,000K
T      5000.000000  10000.000000  20000.000000
N1/NI     0.901815      0.686655      0.440228
N2/NI     0.088545      0.215160      0.246427
N3/NI     0.008694      0.067419      0.137943
N4/NI     0.000854      0.021125      0.077217

In [21]:
gnn=gn.iloc[1:, :]
gnn

            T= 5000K    T= 10,000K  T= 20,000K
N1/NI   9.018149e-01  6.866552e-01    0.440228
N2/NI   8.854454e-02  2.151597e-01    0.246427
N3/NI   8.693730e-03  6.741912e-02    0.137943
N4/NI   8.535923e-04  2.112542e-02    0.077217
N5/NI   8.380981e-05  6.619534e-03    0.043224
N6/NI   8.228851e-06  2.074195e-03    0.024195
N7/NI   8.079483e-07  6.499378e-04    0.013544
N10/NI  7.647450e-10  1.999578e-05    0.002376
N15/NI  6.978121e-15  6.040171e-08    0.000131

In [19]:
g.max()

T         20000.000000
N1/NI         0.901815
N2/NI         0.246427
N3/NI         0.137943
N4/NI         0.077217
N5/NI         0.043224
N6/NI         0.024195
N7/NI         0.013544
N10/NI        0.002376
N15/NI        0.000131
dtype: float64

In [22]:
gnn.max()

T= 5000K      0.901815
T= 10,000K    0.686655
T= 20,000K    0.440228
dtype: float64